body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: roboto;
}

.jumbotron {
  padding: 3rem 1rem;
  background-image: url(./Source/Image/20230122_234203.jpg);
  color: #ffff;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.warning {
  padding: 2rem 0rem;
}
.warning img {
  width: 50%;
}

.row {
  padding: 0rem 1rem;
}

.about {
  padding: 3rem 0rem;
}

.education {
  padding: 3rem 0rem;
  background-color: rgba(168, 201, 234, 0.925);
}

.title {
  margin-top: 40px;
}

.title h2 {
  font-weight: bold;
}

.timeline {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: dodgerblue;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: justify;
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -11px;
  width: 20px;
  height: 20px;
  background-color: #c23941;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -9px;
  width: 20px;
  height: 20px;
  background-color: #c23941;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #303e49;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  line-height: 1.7;
}

.timeline ul li h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -102px;
  margin: 0;
  padding: 8px 16px;
  background-color: #303249;
  color: #fff;
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -102px;
  margin: 0;
  padding: 8px 16px;
  background-color: #303249;
  color: #fff;
  border-radius: 18px;
}

.experience {
  padding: 3rem 0rem;
}

.slide-content {
  margin: 0 50px;
  overflow: hidden;
  border-radius: 25px;
  padding: 20px 20px 37px 20px;
}

.overlay {
  position: absolute;
  border-radius: 25px 25px 0px 0px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.slide-container {
  max-width: 90vw;
}

.card {
  border-radius: 25px;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 25px 25px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265df2;
}

.swiper-button .swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-button .swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-button .swiper-navBtn::before,
.swiper-button .swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button .swiper-button-next {
  right: 0px;
}

.swiper-button .swiper-button-prev {
  left: 0px;
}

.swiper-button .swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-button .swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  body {
    font-family: roboto;
  }

  .slide-content {
    margin: 0 10px;
  }

  .swiper-button .swiper-navBtn {
    display: none;
  }

  .education {
    padding: 3rem 1rem;
    background-color: rgba(168, 201, 234, 0.925);
  }

  .title {
    margin-top: 40px;
  }

  .title h2 {
    font-weight: bold;
  }

  .timeline {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
  }

  .timeline::before {
    content: '';
    position: absolute;
    left: 0%;
    width: 2px;
    height: 100%;
    background-color: dodgerblue;
  }

  .timeline ul {
    margin: 0;
    padding: 0;
  }

  .timeline ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
  }

  .timeline ul li:nth-child(even) {
    float: left;
    text-align: right;
  }

  .content {
    padding-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: justify;
    margin-top: 3rem;
  }

  .timeline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #c23941;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .timeline ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #c23941;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #303e49;
  }

  .timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;
  }

  .timeline ul li h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .timeline ul li:nth-child(odd) .time {
    position: absolute;
    left: 40px;
    margin: 0;
    text-align: center;
    background-color: #303249;
    color: #fff;
    border-radius: 18px;
    width: 4.5rem;
  }

  .timeline ul li:nth-child(even) .time {
    position: absolute;
    left: 40px;
    margin: 0;
    text-align: center;
    background-color: #303249;
    color: #fff;
    border-radius: 18px;
    width: 4.5rem;
  }
}
