body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Noto Serif', serif;
  background-color: #dc3545;
}

.warning img {
  width: 50%;
}
