body {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: roboto;
}

.jumbotron {
  padding: 3rem 1rem;
  color: #ffff;
  background-image: url(./Source/Image/20230122_234203.jpg);
  text-shadow: 1px 1px rgb(0, 0, 0);
}
.warning { 
  padding: 2rem 0rem;
}

.warning img { 
  width: 50%;
} 
.row { 
  padding: 0rem 1rem;
}
