body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: roboto;
}

.jumbotron {
  padding: 3rem 1rem;
  background-image: url(./Source/Image/20230122_234203.jpg);
  color: #ffff;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0265 1.55);
}

.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #ffff;
  color: #ffff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0265 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background-color: #ffff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0265 1.55);
}

.wrapper .icon span a {
  color: #fff;
}

.wrapper.icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span a {
  color: #2980b9;
}

.wrapper .instagram:hover span a {
  color: #e74c3c;
}

.wrapper .telegram:hover span a {
  color: #0088cc;
}

.wrapper .whatsapp:hover span a {
  color: #27ae60;
}

.wrapper .line:hover span a {
  color: #27ae60;
}

.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #2980b9;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e74c3c;
}

.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background-color: #0088cc;
}

.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #27ae60;
}

.wrapper .line:hover .tooltip,
.wrapper .line:hover .tooltip::before {
  background-color: #27ae60;
}

.warning {
  padding: 2rem 0rem;
}
.warning img {
  width: 50%;
}

.row {
  padding: 0rem 1rem;
}

.about {
  padding: 3rem 1rem;
}

.desc {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  padding: 0% 12%;
  width: 100%;
}

.foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto img {
  border: 1px solid blue;
  width: 250px;
  margin-right: 40px;
}

.foto .text p {
  border: 1px solid chocolate;
  text-align: justify;
}

.education {
  padding: 3rem 0rem;
  background-color: rgba(168, 201, 234, 0.925);
}

h2 {
  font-weight: bold;
}

.title h2 {
  font-weight: bold;
}

.timeline {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: dodgerblue;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: justify;
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -11px;
  width: 20px;
  height: 20px;
  background-color: #c23941;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -9px;
  width: 20px;
  height: 20px;
  background-color: #c23941;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #303e49;
  text-align: left;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  line-height: 1.7;
}

.timeline ul li h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -102px;
  margin: 0;
  padding: 8px 16px;
  background-color: #303249;
  color: #fff;
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -102px;
  margin: 0;
  padding: 8px 16px;
  background-color: #303249;
  color: #fff;
  border-radius: 18px;
}

.experience {
  padding: 3rem 1rem;
}

.slide-content {
  margin: 0 50px;
  overflow: hidden;
  border-radius: 25px;
  padding: 20px 20px 37px 20px;
}

.overlay {
  position: absolute;
  border-radius: 25px 25px 0px 0px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.slide-container {
  max-width: 90vw;
}

.card {
  border-radius: 25px 25px 25px 25px;
  background-color: #fff;
  border: solid red;
  min-height: 21rem;
}

.card img {
  border-radius: 25px 25px 0px 0px;
}

.card-image {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 25px 25px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.tahun {
  font-size: 15px;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: justify;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265df2;
}

.swiper-button .swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-button .swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-button .swiper-navBtn::before,
.swiper-button .swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button .swiper-button-next {
  right: 0px;
}

.swiper-button .swiper-button-prev {
  left: 0px;
}

.swiper-button .swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-button .swiper-pagination-bullet-active {
  background-color: #4070f4;
}

.project {
  padding: 3rem 0rem;
  background-color: rgba(168, 201, 234, 0.925);
}

.achievement {
  padding: 3rem 1rem;
  background-color: #fff;
}

.gambar {
  width: 16%;
  height: 16%;
}

@media screen and (max-width: 800px) {
  .gambar {
    width: 20%;
    height: 20%;
  }

  .desc {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    padding: 0%;
    width: 100%;
  }

  .foto {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
  }

  .foto img {
    border: 1px solid blue;
    max-width: 50vw;
    margin: 0 auto;
  }

  .foto .text p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 518px) {
  .gambar {
    width: 30%;
    height: 30%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-family: roboto;
  }

  .slide-content {
    margin: 0 10px;
  }

  .swiper-button .swiper-navBtn {
    display: none;
  }

  .education {
    padding: 3rem 1rem;
    background-color: rgba(168, 201, 234, 0.925);
  }

  .title {
    margin-top: 40px;
  }

  .title h2 {
    font-weight: bold;
  }

  .timeline {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
  }

  .timeline::before {
    content: '';
    position: absolute;
    left: 0%;
    width: 2px;
    height: 100%;
    background-color: dodgerblue;
  }

  .timeline ul {
    margin: 0;
    padding: 0;
  }

  .timeline ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
  }

  .timeline ul li:nth-child(even) {
    float: left;
    text-align: right;
  }

  .content {
    padding-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: justify;
    margin-top: 3rem;
  }

  .timeline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #c23941;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .timeline ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 21px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #c23941;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  }

  .timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #303e49;
  }

  .timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;
  }

  .timeline ul li h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .timeline ul li:nth-child(odd) .time {
    position: absolute;
    left: 40px;
    margin: 0;
    text-align: center;
    background-color: #303249;
    color: #fff;
    border-radius: 18px;
    width: 4.5rem;
  }

  .timeline ul li:nth-child(even) .time {
    position: absolute;
    left: 40px;
    margin: 0;
    text-align: center;
    background-color: #303249;
    color: #fff;
    border-radius: 18px;
    width: 4.5rem;
  }
}
